# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# Model files (optional - only if you don't want to upload models)
# models/*.pkl